客户评价处理工作流.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "\u5BA2\u6237\u8BC4\u4EF7\u5904\u7406\u5DE5\u4F5C\u6D41"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1719123496104-source-1719123546800-target
      source: '1719123496104'
      sourceHandle: source
      target: '1719123546800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1719123546800-1-1719123607442-target
      source: '1719123546800'
      sourceHandle: '1'
      target: '1719123607442'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 1719123607442-source-1719123698762-target
      source: '1719123607442'
      sourceHandle: source
      target: '1719123698762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: end
      id: 1719123698762-source-1719123708103-target
      source: '1719123698762'
      sourceHandle: source
      target: '1719123708103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1719123546800-2-1719129177824-target
      source: '1719123546800'
      sourceHandle: '2'
      target: '1719129177824'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1719129177824-1-17191313059700-target
      source: '1719129177824'
      sourceHandle: '1'
      target: '17191313059700'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1719129177824-2-17191313051170-target
      source: '1719129177824'
      sourceHandle: '2'
      target: '17191313051170'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1719129177824-1719129217834-17191313040270-target
      source: '1719129177824'
      sourceHandle: '1719129217834'
      target: '17191313040270'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17191313059700-source-1719123698762-target
      source: '17191313059700'
      sourceHandle: source
      target: '1719123698762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17191313051170-source-1719123698762-target
      source: '17191313051170'
      sourceHandle: source
      target: '1719123698762'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: variable-aggregator
      id: 17191313040270-source-1719123698762-target
      source: '17191313040270'
      sourceHandle: source
      target: '1719123698762'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "\u5546\u54C1id"
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: productId
        - label: "\u5BA2\u6237\u8BC4\u8BBA"
          max_length: 100
          options: []
          required: true
          type: paragraph
          variable: review
      height: 116
      id: '1719123496104'
      position:
        x: 30
        y: 292
      positionAbsolute:
        x: 30
        y: 292
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: "\u6B63\u9762\u8BC4\u4EF7"
        - id: '2'
          name: "\u8D1F\u9762\u8BC4\u4EF7"
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4
          provider: zhipuai
        query_variable_selector:
        - '1719123496104'
        - review
        selected: true
        title: "\u95EE\u9898\u5206\u7C7B\u5668"
        topics: []
        type: question-classifier
      height: 184
      id: '1719123546800'
      position:
        x: 334
        y: 292
      positionAbsolute:
        x: 334
        y: 292
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Content-Type:application/json
        method: get
        params: 'userId:{{#sys.user_id#}}

          productId:{{#1719123496104.productId#}}

          review:{{#1719123496104.review#}}

          type:1'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 1
        type: http-request
        url: http://192.168.112.154:8089/customer/handle
        variables: []
      height: 106
      id: '1719123607442'
      position:
        x: 896.9263375714338
        y: 296.1423100696251
      positionAbsolute:
        x: 896.9263375714338
        y: 296.1423100696251
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: "\u53D8\u91CF\u805A\u5408\u5668"
        type: variable-aggregator
        variables:
        - - '1719123607442'
          - body
        - - '17191313059700'
          - body
        - - '17191313051170'
          - body
        - - '17191313040270'
          - body
      height: 191
      id: '1719123698762'
      position:
        x: 1225.807025513037
        y: 296.1423100696251
      positionAbsolute:
        x: 1225.807025513037
        y: 296.1423100696251
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1719123698762'
          - output
          variable: output
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1719123708103'
      position:
        x: 1543.5492439136635
        y: 296.1423100696251
      positionAbsolute:
        x: 1543.5492439136635
        y: 296.1423100696251
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        classes:
        - id: '1'
          name: "\u552E\u540E\u95EE\u9898"
        - id: '2'
          name: "\u8FD0\u8F93\u95EE\u9898"
        - id: '1719129217834'
          name: "\u5176\u4ED6\u95EE\u9898"
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: glm-4
          provider: zhipuai
        query_variable_selector:
        - '1719123496104'
        - review
        selected: false
        title: "\u95EE\u9898\u5206\u7C7B\u5668 2"
        topics: []
        type: question-classifier
      height: 224
      id: '1719129177824'
      position:
        x: 603.3406984086519
        y: 474.75215345400215
      positionAbsolute:
        x: 603.3406984086519
        y: 474.75215345400215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Content-Type:application/json
        method: get
        params: 'userId:{{#sys.user_id#}}

          productId:{{#1719123496104.productId#}}

          review:{{#1719123496104.review#}}

          type:4'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 4
        type: http-request
        url: http://192.168.112.154:8089/customer/handle
        variables: []
      height: 106
      id: '17191313040270'
      position:
        x: 896.9263375714338
        y: 725.1344234394993
      positionAbsolute:
        x: 896.9263375714338
        y: 725.1344234394993
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Content-Type:application/json
        method: get
        params: 'userId:{{#sys.user_id#}}

          productId:{{#1719123496104.productId#}}

          review:{{#1719123496104.review#}}

          type:3'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 3
        type: http-request
        url: http://192.168.112.154:8089/customer/handle
        variables: []
      height: 106
      id: '17191313051170'
      position:
        x: 896.9263375714338
        y: 572.8674394649015
      positionAbsolute:
        x: 896.9263375714338
        y: 572.8674394649015
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: Content-Type:application/json
        method: get
        params: 'userId:{{#sys.user_id#}}

          productId:{{#1719123496104.productId#}}

          review:{{#1719123496104.review#}}

          type:2'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 2
        type: http-request
        url: http://192.168.112.154:8089/customer/handle
        variables: []
      height: 106
      id: '17191313059700'
      position:
        x: 896.9263375714338
        y: 433.1729587542613
      positionAbsolute:
        x: 896.9263375714338
        y: 433.1729587542613
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -782.1405134047291
      y: -291.0683471742349
      zoom: 1.02770066434158
